<h1 style="text-align: center;">{{title()}}</h1>

<h2>สถานีต้นทาง</h2>
<select (change)="onStartStationChange($event)">
  <option value="" disabled selected>เลือกสถานี</option>
  @for (st of stations(); track st.id) {
  @if (st.name) {
  <option [value]="st.id">{{ st.name }}</option>
  }
  }
</select>

<h2>สถานีปลายทาง</h2>
<select (change)="onDestinationStationChange($event)">
  <option value="" disabled selected>เลือกสถานี</option>
  @for (st of stations(); track st.id) {


  @if (st.name&&(st.id!=start_station())) {
  <option [value]="st.id">{{ st.name }}</option>
  }
  }
</select>

<br />
<button (click)="onCalculate()">เส้นทาง</button>

@if (pathResult(); as r) {
  <h3>ผลลัพธ์ ({{r.totalStations}} สถานี)</h3>
  <div style="max-height: 300px; overflow-y: auto; border: 1px solid #ccc; padding: 8px;">
    @for (st of r.path; track st) {
      <div>
        {{st}}
        @for (ch of r.changes; track ch.at) {
          @if (ch.at === st) {
            <span style="color: blue;"> ⇢ เปลี่ยนไปสาย {{ch.toLine}} ({{ch.to}})</span>
          }
        }
      </div>
    }
  </div>
}